
.headline{
    font-size: 1.2rem;
    color:var(--neutral_100_clr);
}
.filter_frequency_text{
    font-size: 1rem;
    color:var(--neutral_60_clr);
    font-family: var(--epilogue_font);
    font-weight: 500;
}