
.contact_container{
 max-height:400px;
 overflow:auto;
}

.contact_container_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.add_contact_container_btn{
    display:flex;
    align-items: center;
    justify-content: center;
    width:25px;
    height: 25px;
    background:var(--primary_brand_clr);
    border-radius: 50%;
}

.contact_link_btn{
    display:block;
    width: 90%;
    margin:2rem auto 0 auto;
    border:1px solid var(--primary_brand_clr);
    padding:.5rem 3rem;
    border-radius: 6px;
    font-size: 1rem;
    color:var(--primary_brand_clr);
    border:1px solid var(--primary_brand_clr);
    text-align: center;
}