
.contact_container{
 max-height:400px;
 overflow:auto;
}

.contact_container_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}


@media(min-width:1800px){
    .contact_container{
        max-height:100%;
       }
}