

.interviews_widget_container{
    height:400px;
    overflow: auto;
}

@media(min-width:1440px){
    .interviews_widget_container{
     height: 100%;
    }
}
@media(min-width:1800px){
    .interviews_widget_container{
     grid-column: 2/3;
      grid-row:1/2;
    }
}