
.error_message_container{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:.2rem 0;
}

.error_message{
    font-size: 1rem;
    font-family: var(--epilogue_font);
    color:var(--accent_red_clr);
    font-weight: bold;
    font-family: 700;
}