
.testimonials_tab_button_container{
 display:flex;
 align-items: center;
 justify-content: flex-end;
 gap:1rem;
 padding: 1rem 0;
}

.testimonials_tab_button{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border:none;
    border-radius: 50%;
    background:var(--secondary_brand_clr);
    color:var(--neutral_80_clr);
}

.active_btn{
    background:var(--primary_brand_clr);
    color:white;
}