
.wrapper{
 border: 1px solid var(--neutral_20_clr);
 border-radius: 5px;
 margin-top:1rem;
 padding:1rem;
}

.tabs_tab_item{
    color:var(--primary_brand_clr);
    font-size: 1rem;
    padding:.5rem 1rem;
    cursor: pointer;
}
.tabs_tab_item.active{
    background:var(--neutral_0_clr);
}

@media(min-width:1100px){
.dashboard_job_statstictics{
  grid-column:1/3;
}
}

@media(min-width:1440px){
  .dashboard_job_statstictics{
    grid-column:1/2;
  }
}

@media(min-width:1800px){
  .dashboard_job_statstictics{
    grid-column:1/3;
  }
}

   