.contact_link_btn{
    display:block;
    width: 90%;
    margin:2rem auto 0 auto;
    border:1px solid var(--primary_brand_clr);
    padding:.5rem 3rem;
    border-radius: 6px;
    font-size: 1rem;
    color:var(--primary_brand_clr);
    border:1px solid var(--primary_brand_clr);
    text-align: center;
}