.tabs_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.tabItem{
    text-transform: capitalize;
    color:var(--neutral_80_clr);
    font-size: 1rem;
    font-weight: 700;
    padding:.3rem 0;
    border-bottom: 3px solid transparent;
    transition:all ease-in-out 200ms;  
}

.tab_header_illustration{
    object-fit: cover;
}

.active_tab{
   color:var(--primary_brand_clr);
   font-weight: bold;
   border-bottom: 3px solid var(--primary_brand_clr);
}

