.avatar_dropdown_container{
    position:absolute;
    top:60px;
    right: 0;
    width:260px;
    background:var(--neutral_0_clr);
    box-shadow: 0px 13px 28px 0px rgba(79, 99, 170, 0.10);
    border-radius: 5px;
    padding:1rem 1rem 0  ;
    z-index: 5;
}
.avatar_dropdown_header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
}
.avatar_dropdown_info{
    line-height: 1.2;
}
.avatar_dropdown_user_info{
    font-size: 0.95rem;
    color:var(--neutral_110_clr);
}
.avatar_dropdown_email{
 font-size: 0.85rem;
 color:var(--neutral_80_clr);
}
.avatar_dropdown_menu{
    display:flex;
    flex-direction: column;
    padding-top: 1rem;
}
.avatar_dropdown_menu_item{
    padding:0 1rem 1rem 1rem;
    color:var(--neutral_80_clr);

}
.avatar_dropdown_menu_item a{
    display:flex;
    align-items: center;
    gap:.5rem;
    font-size: .95rem;
}

.avatar_dropdown_logout_btn{
    margin:.5rem 0;
}


