.max_wrapper{
    width:100%;
    padding-left: var(--wrapper_spacing);
    padding-right: var(--wrapper_spacing);
  }

  .flex{
    display:flex;
  }
  .flexCenter{
    align-items: center;
  }
  .flexGapSm{
    gap:1rem
  }