:root {

  /* Brand Colors  */
  --primary_brand_clr:#4640DE;
  --secondary_brand_clr:#ccccf5;
  --tertiary_brand_clr:#E7F6FD;

  /* Accents Colors  */
  --accents_yellow_clr:#FFB836;
  --accent_green_clr:#56CDAD;
  --accent_red_clr:#FF6550;
  --accent_blue_clr:#26A4FF;
  --accent_purple_clr:#7B61FF;

  /* Neutral Colors  */
  --neutral_100_clr:#25324B;
  --neutral_80_clr:#515B6F;
  --neutral_60_clr:#7C8493;
  --neutral_40_clr:#A8ADB7;
  --neutral_20_clr:#D6DDEB;
  --neutral_10_clr:#F8F8FD;
  --neutral_0_clr:#FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
 
}
