:root {

  /* Brand Colors  */
  --primary_brand_clr:#4640DE;
  --secondary_brand_clr:#ccccf5;
  --tertiary_brand_clr:#E7F6FD;
  --tertiary_secondary_brand_clr:#E9EBFD;

  /* Accents Colors  */
  --accents_yellow_clr:#FFB836;
  --accent_green_clr:#56CDAD;
  --accent_red_clr:#FF6550;
  --accent_blue_clr:#26A4FF;
  --accent_purple_clr:#7B61FF;
  --accent_light_purple_bg:rgb(248,247,253);


  /* Neutral Colors  */
  --neutral_110_clr:#202430;
  --neutral_100_clr:#25324B;
  --neutral_90_clr:#8E9197;
  --neutral_80_clr:#515b6f;
  --neutral_60_clr:#7c8493;
  --neutral_40_clr:#A8ADB7;
  --neutral_20_clr:#D6DDEB;
  --neutral_10_clr:#F8F8FD;
  --neutral_0_clr:#FFFFFF;

  --epilogue_font:'Epilogue', sans-serif;

  --wrapper_spacing:1rem;
  --max_width_auth_form:408px;

  @media(min-width:768px){
    --wrapper_spacing:2rem;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding:0
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color:inherit;
}

.purple_text{
  color:var(--primary_brand_clr);
}
.blue_text{
 color:var(--accent_blue_clr);
}

.redirect_button{
  border:none;
  cursor: pointer;
  font-family: var(--epilogue_font);
  font-style: normal;
  font-weight: 700;
  border-radius: 5px;
  background-color: var(--primary_brand_clr);
  color:var(--neutral_0_clr);
  padding: 12px 24px;
  font-size: 1rem;
}

.form_field{
  display: flex;
  flex-direction: column;
  gap:.5rem;
  margin:1rem 0;
}

.label{
  color:var(--neutral_80_clr);
  font-family: var(--epilogue_font);
  font-weight: 600;
}
.reset_btn{
  background:none;
  border:none;
  cursor: pointer;
}


