
.contact_card{
    display:flex;
    align-items: center;
    gap:1rem;
    margin-top:1rem;
}
.contact_name_role{
    margin-right: auto;
}
.contact_name{
    font-size: 1rem;
}
.contact_role{
    font-size: 0.875rem;
}