
.bench_mark_heading{
    font-size: 1.3rem;
}
.bench_mark_body_application_sent{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    position:relative;
}
.bench_mark_body_application_sent svg{
    position: absolute;
    width: 95px;
    right:0px;
    bottom:-16px;
}
@media(min-width:1100px){
.application_stats_container{
   grid-column:1/3;
   display:flex;
   gap:1rem;
}
.application_stats_container > *{
    flex:1;
}
}

@media(min-width:1800px){
    .application_stats_container{
        grid-column:1/2;
        grid-row: 1/2; 
        flex-direction: column;
     }  
}