
.wrapper{
 border: 1px solid var(--neutral_20_clr);
 border-radius: 5px;
 margin-top:1rem;
 padding:1rem;
}

.headline{
    font-size: 1.2rem;
    color:var(--neutral_100_clr);
}
.filter_frequency_text{
    font-size: 1;
    color:var(--neutral_60_clr);
    font-family: var(--epilogue_font);
    font-weight: 500;
}

.tabs_tab_item{
    color:var(--primary_brand_clr);
    font-size: 1rem;
    padding:.5rem 1rem;
}
.tabs_tab_item.active{
    background:var(--neutral_0_clr);
}

   