
.bench_mark_heading{
    font-size: 1.3rem;
}
.bench_mark_body_application_sent{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    position:relative;
}
.bench_mark_body_application_sent svg{
    position: absolute;
    width: 95px;
    right:0px;
    bottom:-16px;
}